#events {
    width: 100%;
    height: 100%;

}
html, body
{
    height: 100%;
}

#today, #week {
    width: 100%;
    height: 600px;
    position: absolute;
}

.hour {
    color: #777;
}

.hour td, .hour th {
    vertical-align: top;
    line-height: 1.0em;
    padding-right: 5px;
    font-weight: 500;
    padding-right: 0;
}

#today td {
    text-align: right;
}

#week th {
    text-align: center;
    font-style: italic;
}

.hour:nth-child(even) {
    background: #f7f7ff;
}

#week .hour td {
    border-right: 1px solid #bbf;
}

.event {
    display: block;
    position: absolute;
    top: 0px;
    width: 73%;
    background: #fc2;
    padding: 6px;
    font-style: italic;
    border-radius: 5px;
    border: 2px solid #cfc;
    margin-left: 5px;
}

.event .title {
    font-weight: bold;
    font-style: normal;
}
