#events {
    width: 100%;
    height: 400px;
}

#today-box {
}

#today {
}


.hour {
    fill: none;
    stroke-width: 1;
    stroke: #eef;
}

.hour:nth-child(even) {
    fill: #f7f7ff;
    stroke: none;
}

.hour-label {
    fill: #999;
    text-anchor: end;
    baseline-shift: -1.2em;
}

.event {
    fill: #74c76e;
    stroke: #4f694e;
    stroke-width: 2;
}

.event-label {
    baseline-shift: -1.2em;
    font-size: 12px;
    font-weight: bold;
}

.event-label-time {
    baseline-shift: -2.8em;
    font-size: 12px;
}

.day {
    fill: none;
}

.day:nth-child(even) {
    fill: #f7f7ff;
}

.day-labels {
    fill: #999;
    baseline-shift: -1.2em;
}

.hourline {
    stroke: none;
}

.hourline:nth-child(even) {
    stroke: #f7f7ff;
}
