<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="/static/bootstrap.min.css" rel="stylesheet">
 <link href="/static/style.css" rel="stylesheet">
 <script src="/static/jquery-2.0.3.min.js"> </script>
 <script src="/static/bootstrap.min.js"> </script>
 <script src="/static/d3.v3.min.js"> </script>
 <title>PSU EPL Window</title>
</head>
<body>



<div id="events" class="row">
 <div id="today-box" class="col-lg-3">
    <h2>Today</h2>
    <div id="today">
    </div>
 </div>
 <div class="col-lg-9">
    <h2>This Week</h2>
    <div id="week">
    </div>
 </div>
</div>

<script>
    var begin_hour = 7;
    var end_hour   = 24;

    var range = end_hour - begin_hour;
    var h = 100.0 / range;


    var todaydata = [
      {
        "begin": 11.0, 
        "begin-label": "11:00 AM", 
        "end": 15.5, 
        "end-label": "03:30 PM", 
        "title": "Nathan Bergey's Lab hours"
      }
    ];

    // Create chart
    var svg = d3.select("#today").append("svg")
        .attr("width", "100%")
        .attr("height", "100%")
        .attr("class", "chart")
        .append("g");

    // Backgrond bars
    var hours = svg.selectAll(".hour").data(d3.range(range));
    hours.enter().append("rect")
        .attr("class", "hour")
        .attr("width", "100%")
        .attr("y", function (d) { return d*h + "%"; })
        .attr("height", h+"%")
        .attr("x", 0);

    // Draw time boxes
    var events = svg.selectAll(".event").data(todaydata);
    events.enter().append("rect")
        .attr("class", "event")
        .attr("rx", 4)
        .attr("ry", 4)
        .attr("width", "67%")
        .attr("y", function (d) { return (d["begin"]-begin_hour)*h + "%"; })
        .attr("height", function (d) {
            passage = d["end"] - d["begin"];
            return passage*h + "%";
        })
        .attr("x", '5%');

    // Time box label
    var event_labels = svg.selectAll(".event-label").data(todaydata);
    events.enter().append("text")
        .attr("class", "event-label")
        .attr("y", function (d) { return (d["begin"]-begin_hour)*h + "%"; })
        .attr("x", '7%')
        .attr("width", "67%")
        .text(function (d) {return d["title"]; });
    
    events.enter().append("text")
        .attr("class", "event-label-time")
        .attr("y", function (d) { return (d["begin"]-begin_hour)*h + "%"; })
        .attr("x", '7%')
        .attr("width", "67%")
        .text(function (d) {return d["begin-label"]+' to '+d["end-label"] ; });


    // hour bar lables
    var hour_lables = svg.selectAll(".hour-label").data(d3.range(range));
    hour_lables.enter().append("text")
        .attr("class", "hour-label")
        .attr("x", '97%')
        .attr("y",  function (d) { return d*h + "%"; })
        .text(function (d) { 
            var hour = d+begin_hour;
            var ante = ' am';
            if (hour > 12) {
                hour = hour - 12;
                ante = ' pm';
            }
            return hour + ante;
       });
</script>

<script>
    var days = 9;
    var dw = 100.0/days;
    var begin_hour = 7;
    var end_hour   = 24;
    var hour_range = end_hour - begin_hour;
    var hh = 100.0 / hour_range;

    var now = new Date();
    var today = now.getDay();
    var weekday=new Array(7);
    weekday[0]="Sunday";
    weekday[1]="Monday";
    weekday[2]="Tuesday";
    weekday[3]="Wednesday";
    weekday[4]="Thursday";
    weekday[5]="Friday";
    weekday[6]="Saturday";

    console.log(weekday[today]);

    // Create chart
    var wsvg = d3.select("#week").append("svg")
        .attr("width", "100%")
        .attr("height", "100%")
        .attr("class", "chart")
        .append("g");

    // Backgrond days
    var dayr = wsvg.selectAll(".day").data(d3.range(days));
    dayr.enter().append("rect")
        .attr("class", "day")
        .attr("width", dw+"%")
        .attr("x", function (d) { return d*dw + "%"; })
        .attr("height", "100%")
        .attr("y", 0);

    // Backgrond hours
    var whours = wsvg.selectAll(".hourline").data(d3.range(hour_range));
    whours.enter().append("line")
        .attr("class", "hourline")
        .attr("x1", 0)
        .attr("x2", '100%')
        .attr("y1", function (d) { return d*hh + hh + "%"; })
        .attr("y2", function (d) { return d*hh + hh + "%"; });

    // Backgrond labels
    var wlabels = wsvg.selectAll(".day-labels").data(d3.range(days));
    wlabels.enter().append("text")
        .attr("class", "day-labels")
        .attr("x", function (d) { return d*dw + 1 + "%"; })
        .attr("y", 0)
        .text(function (d) {
            d = d + today + 1;
            if (d < 7)
                return weekday[d];
            return weekday[d-7]
        });




</script>


</body>
</html>
