<!doctype html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link href="/static/bootstrap.min.css" rel="stylesheet">
 <link href="/static/style.css" rel="stylesheet">
 <script src="/static/jquery-2.0.3.min.js"> </script>
 <script src="/static/bootstrap.min.js"> </script>
 <title>PSU EPL Window</title>
</head>
<body>

 <div id="title">
  <h1>Electronics Prototyping Lab</h1>
  <span class="subtitle">Visit us at <em>psu-epl.github.io</em></span>
 </div>

 <div id="slideshow">
  <img src="http://placekitten.com/g/1270/400">
 </div>

 <div id="calendar">
   <h2>Lab Hours and Events</h2>
   {% include 'calendar.html' %}
 </div>

 <script>
    function r () {
        location.reload();
        setTimeout(r, 1800000);
    }

    setTimeout(r, 1800000);
 </script>
</body>
</html>
